

  /*-------------events button----------------*/
  .expbutton{
    background-color: #00897b;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
  }
  .expbutton:hover {
    background-color: #006f63;
  }


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Poppins", sans-serif;
    background-color: #f7f7f7;
  }

/* ---------------------header------------------*/
   header {
    display: flex;
    justify-content: space-between;
    background-color: #00897b;  
    color: white;
    padding: 15px 60px;
  }

  .logo {
    font-size: 30px;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  nav ul li a {
    color: white  ;
    text-decoration: none;
  }

  nav ul li a:hover,
  nav ul li a.active {
    color: black;
  }
  /*---------------------events page-----------------------*/
  .page-header {
    text-align: center;
    padding: 60px 20px;
    background-color: #e0f2f1;
  }

  .page-header h1 {
    font-size: 40px;
    color: #00897b;
  }
  
  .events-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 50px 10%;
  }

  .event-card {
    width: 300px;
    background: #fff;
    border-radius: 12px;
    transition: 0.3s ease;
    text-align: center;
  }

  .event-card:hover {
    transform: translateY(-6px);
  }

  .event-card img {
    width: 100%;
    height: 200px;
   }

  .event-card h3 {
    color: #00897b;
    font-size: 20px;
   }
   .btn {
    background-color: #00897b;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
  }
  .btn:hover {
    background-color: #00695c;
    transform: translateY(-3px);
  }
  


  /* -------------------volunteer , about , contact --------------*/

  section {
    padding: 60px 10%;
  }

  section h1, 
  section h2 {
    color: #00897b;
    margin-bottom: 15px;
  }


  /*-------------------------login,signup----------------------------*/
  
  .login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    padding: 20px;
    background: linear-gradient(135deg, #26a69a, #00897b);
    color: #fff;
  }


  .login-container {
    background: #fff;
    color: #333;
    padding: 40px 45px;
    border-radius: 12px;
    width: 100%;
    max-width: 420px;
    text-align: center;
  }


  .login-container h2 {
    color: #00897b;
    margin-bottom: 10px;
  }


  .login-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #fafafa;
    font-size: 0.95rem;
  }

  /*----------------------------footer---------------------------- */

  .footer {
    background: #00695c;
    color: white;
    padding: 30px 20px;
    text-align: center;
  }
    
  .footer-box div {
    margin-bottom: 20px;
  }

  .footer-box ul {
    list-style: none;
  }
  
  .footer-box a {
    text-decoration: none;
    color: #e0f2f1;
  }
  
  .footer-box a:hover {
    color: black;
  }
  
  

  /*--------------------design responsive to small screens---------------------------*/

  @media (max-width: 768px) {
    header {
      flex-direction: column;
      padding: 15px 30px;
    }

    nav ul {
      flex-wrap: wrap;
      justify-content: center;
      gap: 12px;
    }

    .events-list {
      padding: 30px 5%;
    }

    .event-card {
      width: 90%;
      max-width: 350px;
    }

    .footer-container {
      flex-direction: column;
      text-align: center;
    }
  }
